* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #2b2b2b;
  color: #62077c;
  line-height: 1.6;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #62077c;
}
.sub-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #62077c;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.btn {
  width: 100%;
  background-color: #272727;
  color: #fff;
  padding: 10px 20px;
  border: #62077c 2px solid;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
