<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dreams School Qabul</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <script defer src="./scripts/home.js"></script>
    <link rel="stylesheet" href="./css/home.css" />
  </head>
  <body>
    <h1 class="title">"Dreams School" Maktabiga Qabul</h1>
    <div class="container">
      <p class="sub-title">
        <strong>O'zingiz istagan yo'nalish bo'yicha ro'yxatdan o'ting.</strong>
      </p>
      <div class="btn_container">
        <button class="btn" id="maktab">
          "DREAMS SCHOOL INNOVATSION XALQARO MAKTABIDA TAHSIL OLISH UCHUN
          ROʻYXATDAN OʻTISH!
        </button>
        <button class="btn" id="president">
          PREZIDENT MAKTABIGA KIRISH IMTIHONIGA QATNASHISH UCHUN ROʻYXATDAN
          OʻTISH!
        </button>
        <button class="btn" id="mental">
          MENTAL ARIFMETIKA OLIMPIADASIDA QATNASHISH UCHUN ROʻYXATDAN OʻTISH!
        </button>
        <button class="btn" id="imtihon">
          BILIM VA MALAKALARNI BAXOLASH AGENTLIGI - DTM IMTIHONIDA QATNASHISH
          UCHUN ROʻYXATDAN OʻTISH!
        </button>
      </div>
    </div>

    <div class="footer">
      <p class="footer_text">2025 © Dreams School</p>
      <p class="footer_text">Barcha huquqlar himoyalangan</p>
    </div>
  </body>
</html>
