<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DTM Imtihonlari</title>
    <link rel="stylesheet" href="../css/form.css" />
  </head>
  <body>
    <h1 class="title">DTM imtihonlari</h1>
  </body>
</html>

<!-- fanlar ro'yxati:
 1. INGLIZ TILINI ( MOCK ) TESTLARI
2. MATEMATIKA - INGLIZ TILI
3. KIMYO - BIOLOGIYA 
4. MATEMATIKA - FIZIKA 
5. ONA TILI - INGLIZ TILI 
6. HUQUQ - INGLIZ TILI 
7. TARIX - HUQUQ 
8. RUS TILI - TARIX
9. RUS TILI - INGLIZ TILI 
10. ONA TILI - MATEMATIKA
 -->
