<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mental Arifmetika uchun qabul</title>
    <link rel="stylesheet" href="../css/form.css" />
  </head>
  <body>
    <h1 class="title">Mental arifmetika uchun qabul</h1>
  </body>
</html>
